.outputCover{
    height: 100%;
    width: 50vw;
}
.Output h4{
    height: 2.45rem;
}
.outputBox{
    height:88vh;
    width:49vw;
    background-color: rgb(44, 44, 44);
}
#OutputTextArea{
    background-color: rgb(44, 44, 44);
    height: 100%;
    width: 100%;
    color: white;
    padding: .4rem;
    margin-left: .2px;
    text-overflow: inherit;
    position: relative;
    min-height: 100%;
    min-width: 100%;
    max-height: 100%;
    max-width: 100%;
}